.example-card {
  max-width: 620px;
  margin-left: 350px;
  margin-top: 100px;

}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
  margin-left: 55px;
}

.tcntr {
margin-left: 120px;
}

